[DISPLAY]
SerialPort = /dev/ttyUSB0
SerialSpeed = 38400

[SL]
Url = http://api.sl.se/api2/realtimedepartures.json
Key = x0x0x0x0x0x0x0x0x0x0x0x0xx0x0x0x0x
SiteId = 9710
TimeWindow = 60

[SL2]
Url = http://api.sl.se/api2/deviations.json
Key = x0x0x0x0x0x0x0x0x0x0x0x0xx0x0x0x0x
TransportMode=train
LineNumber=35
SiteId = 9710

[SJ]
Url = http://api.trafikinfo.trafikverket.se/v1/data.json
Key = x0x0x0x0x0x0x0x0x0x0x0x0xx0x0x0x0x
Dst = Cst
Loc = Bål
